.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-fluid {
  background-image: url(https://gcs.tripi.vn/public-tripi/tripi-feed/img/474077eKq/background-den-trang-tuyet-dep_024340518.jpg);
  height: 729px;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgGlass {
  width: 150px;
}

.glassPosition {
  position: relative;
}

.modelGlass {
  position: absolute;
  /* background: url(../public/BTGLass/glassesImage/v2.png); */
  top: 107px;
  left: 325px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 20%;
}
